<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load news_custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    метод strftime у объекта datetime в Python — вывод времени
    в указанном формате. -->
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <!-- Если в переменной next_sale будет None,
    то выведется указанный в фильтре текст -->
    <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    <hr>
    <!-- Выводим товары, только если они есть с помощью тега if -->
    {% if news %}
        <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.title|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
               <td>{{ new.created_at|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
           </tr>
           {% endfor %}
       </table>
    <!-- Если товаров нет, говорим, что товаров нет ;) -->
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}