<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load news_custom_filters %}
{% load news_custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Публикации
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все публикации</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    метод strftime у объекта datetime в Python — вывод времени
    в указанном формате. -->
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <!-- Если в переменной next_sale будет None,
    то выведется указанный в фильтре текст -->
    <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       <!--{{ filterset.form.as_p }}-->
       {# Добавим кнопку отправки данных формы #}
       <!--<input type="submit" value="Найти" />-->
   </form>
    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
        <a href="{% url 'news_create' %}">Добавить новость</a>
        <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}
    <!-- Выводим товары, только если они есть с помощью тега if -->
    {% if news %}
        <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Начало новости</td>
               <td>Подробнее</td>

               {# Условие получается составным. #}
               {% if perms.news.change_post or perms.news.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.title|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
               <td>{{ new.created_at|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:5|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
               <td>
                   <a href="{% url 'post_detail' pk=new.id %}">>>></a>
               </td>
               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                        {% if user.id == new.author.id %}
                            {% if new.post_type == 'news' %}
                                <a href="{% url 'news_update' pk=new.id %}">Изменить новость</a>
                            {% elif new.post_type == 'article' %}
                                <a href="{% url 'article_update' pk=new.id %}">Изменить статью</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if perms.news.delete_post %}
                        {% if user.id == new.author.id %}
                            {% if new.post_type == 'news' %}
                                <a href="{% url 'news_delete' pk=new.id %}">Удалить новость</a>
                            {% elif new.post_type == 'article' %}
                                <a href="{% url 'news_delete' pk=new.id %}">Удалить статью</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
               </td>
           </tr>
           {% endfor %}
       </table>
    <!-- Если товаров нет, говорим, что товаров нет ;) -->
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

       {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
