<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load i18n %}

{% load news_custom_filters %}
{% load news_custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
{% trans "Поиск публикаций" %}
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>{% trans "Все посты" %}</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    метод strftime у объекта datetime в Python — вывод времени
    в указанном формате. -->
    <h3>{{ time_now|date:'M d Y' }}</h3>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filter.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
    <!-- Выводим товары, только если они есть с помощью тега if -->
    {% if news %}
        <table>
           <tr>
               <td>{% trans "Заголовок" %}</td>
               <td>{% trans "Дата публикации" %}</td>
               <td>{% trans "Текст" %}</td>
           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.title|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
               <td>{{ new.created_at|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20|censor_words:"урюпа,фофанъ,фуфлыга,хабалъ" }}</td>
           </tr>
           {% endfor %}
       </table>
    <!-- Если товаров нет, говорим, что товаров нет ;) -->
    {% else %}
        <h2>{% trans "Новостей нет" %}</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}
        {# Информация о предыдущих страницах #}
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1}">1</a>
            {% if page_obj.previous_page_number != 1 %}
               ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}